
.MuiCard-root{
  display: flex;
  margin: 1em;

}
.MuiCardContent-root {
  padding: 0px;
  
}
.card-description {
  text-align: left;
}
.right-side {
  // padding-left: 5em;
  display: flex;
  flex-direction: row;
  
}
.middle-content {
  text-align: left;
}
.right-content {
  text-align: left;
}
.event-title {
  text-align: left;
  font-size: 10em;
}
.right-content-score {
  font-size: 1.3em;
  margin-top: 1em;
}
.leftSide {
  
  width: 400px;
  height: 250px;
}
.MuiCardMedia-img{
  width: 40%;
  max-height: 100%;
}
@media screen and (max-width: 640px) {
  .right-side {
    flex-wrap: wrap;
  }
  .leftSide {
  padding: 0px;
  width: 100%;
}
  .card-custom {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  
  // .card-custom {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

}
