@import 'src/styles/vars';

.description {
  
  border: 1.5px solid #DFE6ED;
  padding: 1em;
  border-radius: 10px;
  background-color: #fff;

  &-logo {
    text-align: center;
    width: 5em;
    margin-bottom: 1em; 
   } 
   &-text {
    text-align: left;
    margin: .2em;
    }
  &-button {
    color: #ffffff;
    font-size: 1em;
    background: #078171;
    padding: .7em 1em;
    border-radius: 7px;
    border: 1px solid $button;
  }
}
