#welcome {

    
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.5)), url("../../assets/img/eole.jpg");
    background-size: cover;
    color: #fff;
    margin: 0 auto;
};

#section2
{

  padding: 5em 0;
 };
 
.welcome-earth {
margin-top: 2em;
}
