#welcome {

    
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.5)), url("../../assets/img/eole.jpg");
    background-size: cover;
    color: #fff;
    margin: 0 auto;
};
#section1
{
  
  margin: 0 auto;
  padding: 4em;
};
#section2
{
  
  margin: 3em  auto;
  padding: 5em 5em;

};
#section3
{
  
  margin: 0 auto;
  padding: 5em;

  
  
};
#section4
{
  
  margin: 0 auto;
  


};
.welcome-earth {
margin-top: 2em;
}

