#welcome {

    
    background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)), url("../../assets/img/eole.jpg");
    background-size: cover;
  
};
#section1
{
  
  margin-bottom: 1em;
  height: 400px;
};
#section2
{
  
  margin-bottom: 1em;
  height: 400px;
  // background: no-repeat url("../../assets/img/banner.png");
  //background: linear-gradient(90deg,#00c4cc 0,#7d37e4 100%);
  //background: #303944;
};
#section3
{
  
  margin-bottom: 1em;
  height: 400px;
  
};
#section4
{
  
  margin-bottom: 1em;
  height: 400px;
  // background: no-repeat url("../../assets/img/banner.png");
  //background: linear-gradient(90deg,#00c4cc 0,#7d37e4 100%);

}
