@import 'src/styles/vars.scss';

// Style de la partie haute de la page

#event_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
  padding: 2em 1em;
  width: 90%;
  margin-left: 1em;
}

.event_header_left {
  width: 50%;
}

.event_header_left h1 {
  width: 100%;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 1em;
}
.event_header_info{
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  margin-bottom: 1em;
}
#progress_participants {
  display: flex;
  flex-direction: column;
}
#progress_participants p {
 font-size: medium;
 color: grey;
 font-style: italic;
}

.event_label_span {
  width: 10em;
  height: 2em;
  background-color: $button;
  padding-top: .8em;
  color: $bg-color;
  font-weight: 700;
  border-radius: .3em;
  font-size: medium;
  box-sizing: unset;
  align-self: flex-end;
}
.event_author_name {
  text-decoration: underline;
  font-weight: bold;
}

.event_header_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 0;
}

// Style de la partie centrale de la page

#event_description {
  display: flex;
  //flex-wrap: nowrap;
  align-content: center;
  border: solid $button 1px;
  border-radius: .3em;
  width: 90%;
  margin: 1em auto 5em auto;
  padding: 2em 1em;
}

.event_description_left img {
  max-width: 20vw;
  float: left;
}
.event_description__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.event_description_paragraph {
  max-width: 70vw;
  padding-left: 1.5em;
  margin-bottom: 2em;
  text-align: left;
}

.participate_button {
  width: 10em;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.5em;
}

// Sur petit écran, l'image de l'event passe au-dessus de la description
@media (max-width: 500px){
  #event_description {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .event_description_paragraph {
    margin-top: 1em;
  }
}
