#banner 
{
  
  margin-bottom: 1em;
  height: 200px;
  // background: no-repeat url("../../assets/img/banner.png");
  //background: linear-gradient(90deg,#00c4cc 0,#7d37e4 100%);
  background-image: -webkit-gradient(
  linear, right top, left bottom, from(rgba(146,100,231,1)),
  to(rgba(54,204,212,1))
)
};

